@media only screen and (min-width: 32.5em) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.25rem;
    }

    header, footer {
        border-radius: 15px;
    }

    .column1, .column2, .column3 {
        margin: 1.25rem 0 auto 0;
        max-width: 425px;
        justify-self: center;
    }
}