main {
    font-family: 'Montserrat', sans-serif;
    color: #50514f;
    max-width: 960px;
    margin: 10px auto 0 auto;
}

#announcment {
    padding: .75em;
    text-align: center;
    color: #FFF700;
    background-color: #AF110E;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #50514f;
    padding: 15px;
}

.main-logo {
    width: 8em;
    display: block;
    margin: auto;
}

.motto {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.logo {
    width: 8em;
}

header h1, header div {
    color: #FFF700;
    text-align: center;
    filter: drop-shadow(3px 2px 4px black);
}

h1, h2, h3, h4, h5, h6 {
    color: #AF110E;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

nav {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #195671;
    text-align: center;
}

.navigation {
    list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
    text-align: center;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.navigation li a {
    display: block;
    color: #FFF700;
    font-family: 'Montserrat', sans-serif;
	padding: 0.9em;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.25);
}

.navigation a:hover {
    background-color: #FFF700;
    color: #195671;
    font-weight: bold;
}

.navigation .active {
    color: #195671;
    text-decoration: underline;
    background-color: #FFF700;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.hero-div {
    position: relative;
    margin-bottom: 1.5em;
}

.hero-img {
    width: 100%;
    display: block;
    margin: auto;
}

.weather-summary {
    background-color: rgba(200,200,200,.85);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .75em;
    color: #AF110E;
    font-weight: bold;
    box-shadow: 0 0 10px black;
    padding: .5em;
    line-height: 1.5em;
}

.summary-title {
    grid-column: 1/3;
    justify-self: center;
    text-align: center;
    margin: 0;
    padding-bottom: .2em;
    width: 90%;
    border-bottom: 2px solid #AF110E;
}

.names {
    text-align: right;
}

.values {
    text-align: left;
}

.weather-summary #description {
    text-transform: capitalize;
}

.forecast-div {
    display: none;
}

.forecast-icon {
    padding: .8em;
}

article {
    background-color: #50514f;
    color: white;
    line-height: 1.25em;
    padding: 2.5em;
    margin: 1.5em auto;
}

.article-img {
    max-width: 100%;
    margin-bottom: .5em;
    box-shadow: 0 0 10px white;
}

.article-title {
    margin: 0;
    line-height: 1.5em;
    color: #FFF700;
}

.contact-div {
    padding: 2.5em 0;
    background-color: #195671;
}
.contact-map{
    display: none;
}

.contact-info {
    line-height: 3em;
    color: #FFF700;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.social-icon {
    text-align: center;
    margin: 1em;
}

footer {
    background-color: #50514f;
    text-align: center;
    padding: 25px 0;
    margin: 0 auto 1em auto;
    font-size: 1.1rem;
    font-family: 'Inconsolata', monospace;
    color: white;
    line-height: 1.5rem;
}

#copyright a {
    color: white;
}

#copyright a:hover {
    color: lightgrey;
}

#copyright a:active {
    color: #FFF700;
}

.dates {
    font-size: 1em;
    color: #FFF700;
}

footer span {
    display: block;
}

.separate {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}