@media only screen and (min-width: 44em) {

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .main-logo {
        margin: 1em;
        width: 9em;
        justify-self: end;
        align-self: center;
    }

    .title-motto {
        justify-self: start;
        align-self: center;
        margin-left: 1em;
    }

    header h1 {
        font-size: 2.9em;
    }

    .motto {
        font-size: 1.1em;
    }

    .navigation {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        font-size: .825em;
        padding: 1em;
    }
    
    .navigation li:first-child {
        display: none;
    }
    
    footer span {
        display: initial;
    }
    
    .separate {
        display: initial;
    }

}