/*************************** LARGE CSS FILES COMBINED ***************************/

@media only screen and (min-width: 64em) {
/* TOWN PAGES WERE 64em */
/* STORM CENTER WAS 64em */
/* GALLERY PAGE WAS 64em */

    .main-logo {
        width: 12em;
    }

    header h1 {
        font-size: 3.2em;
    }

    .motto {
        font-size: 1.3em;
    }

    .navigation a {
        font-size: 1em;
    }

    /* THERE WAS SOME H2 STYLING HERE FOR STORM CENTER?????? CHECK IT!!!!!! */
    h2 {
        margin-bottom: 1.5em;
    }

    div.hero-div img.hero-img {
        box-shadow: 0 0 20px 5px gray;
        border-radius: 2em;
    }

    div.hero-div img.hero-img:hover {
        box-shadow: none;
        border-radius: 0;
    }


    /* TOWN DATA STYLING */
    div.town-info {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(3, 1fr);
        margin: 2.5em 0 2em 0;
    }

    div.town-info section:first-child {
        justify-self: end;
    }

    div.town-info section:last-child {
        justify-self: start;
    }

    div.town-info section {
        display: initial;
        max-width: 300px;
        justify-self: center;
    }

    div.town-info section p.town-motto {
        font-size: .8em;
        margin-bottom: 1.5em;
    }

    div.town-info section img.town-img {
        box-shadow: none;
    }

    /* FIVE DAY FORECAST STYLING FOR TOWN PAGES */
    .forecast-div {
        width: 80%;
    }

    .forecast-div .day {
        width: 90%;
    }

    /* FORM STYLING FOR STORM CENTER PAGE */
    form fieldset:hover {
        background-color: #f9f9f9;
        border: 5px inset #195671;
    }

    form fieldset {
        padding-bottom: 1.5em;
    }

    form label.danger {
        display: inline;
        margin-left: 2em;
    }

    form textarea.comments {
        height: 300px;
        max-width: 60em;
    }

    /* GALLERY GRID STYLING FOR GALLERY PAGE */
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
        border-radius: 20px;
    }

    figure:hover {
        box-shadow: 5px 5px 20px 10px #50514f;
        font-weight: bold;
    }

    .contact-div {
        border-radius: 15px 15px 0 0;
    }

    /* THERE WAS SOME FOOTER STYLING HERE FOR STORM CENTER?????? CHECK IT!!!!!! */
    /* THERE WAS SOME FOOTER STYLING HERE FOR GALLERY PAGE?????? CHECK IT!!!!!! */
    footer {
        border-radius: 0 0 15px 15px;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
}

